<% unless comment.archived? %>
	<p>
		<%= comment.commenter %>
	</p>

	<p>
		<%= comment.body %>
	</p>

	<p>
		<%= link_to "Delete Comment", [comment.article, comment], 
		data: {
			turbo_method: :delete,
			turbo_confirm: "Are you sure?"
		} %>
	</p>
<% end %>

